body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.main{
    max-width: 350px;
    width: 100%;
}

.form{
    width: 100%;
    max-width: 350px;
}