{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block assets %}
<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block body %}
<div class="main">
    <div class="mb-5 text-center">
        <h1>Login</h1>
    </div>
    <div id="alerts"></div>
    <form action="/signup" id="sign-form" class="form">
        <div class="mb-4">
            <input type="email" id="mail" class="form-control" placeholder="Email" required>
        </div>
        <div class="mb-4">
            <input type="password" id="pw" class="form-control" placeholder="Password" required>
        </div>
        <div class="mb-4">
            <button type="submit" class="btn btn-primary form-control">Login</button>
        </div>
        <div class="mb-4 text-center">
            <a href="/signup" class="btn btn-link">Not have an account?</a>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="/assets/js/login.js"></script>
{% endblock %}